<div class='todo-view-container'>
  <div class='row d-flex justify-content-start'>
    <div class='dropdown' ngbDropdown placement='bottom-left'>
      <button class='btn btn-secondary dropdown-toggle btn-sm' type='button' id='todoAction' data-toggle='dropdown'
              aria-haspopup='true' aria-expanded='false' ngbDropdownToggle>
        {{selectedAction}}
      </button>
      <div class='dropdown-menu dropdown-menu-right' aria-labelledby='todoAction' ngbDropdownMenu>
        <a class='dropdown-item' *ngFor='let action of actions' (click)='actionChanged(action)'>{{action}}</a>
      </div>
    </div>
  </div>
  <div *ngFor='let todo of todos'>
    <div class='row'>
      <div class='form-check d-flex h-100'>
        <input type='checkbox' class='form-check-input h-100 justify-content-center align-content-center'
               id='todo' [(ngModel)]='todo.completed' (ngModelChange)="completed(todo)">
        <label class='form-check-label h-100 justify-content-center align-content-center'
               for='todo'>{{todo.title}}</label>
      </div>
    </div>
    <hr/>
  </div>
</div>
