<button class='btn btn-primary' (click)='loadElement = !loadElement'>Toggle as {{loadElement ? 'direct module': 'element'}}</button>
<div class="container-fluid" style="margin-top: 30px">
  <div *ngIf='!loadElement'>
    <create-todo (created)="created()"></create-todo>
  </div>
  <div *ngIf='loadElement'>
    <create-todo-element></create-todo-element>
  </div>
  <div *ngIf='!loadElement'>
    <view-todo></view-todo>
  </div>
  <div *ngIf='loadElement'>
    <view-todo-element></view-todo-element>
  </div>
</div>
